.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.item-actions {
    display: flex;
    gap: 10px;
}

.heart {
    cursor: pointer;
}

.heart-liked {
    /* color: grey; */
    /* background-color: red; */
    fill: red;
}
